<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="public/styles/main.css">
    <title>Show Product - Express Create Lab</title>
</head>
<body class="has-navbar-fixed-top">
    <nav class="navbar is-dark is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">Home</a>
            <a class="navbar-item" href="/products">All Products</a>
            <a class="navbar-item" href="/products/new"> Create New Product </a>
        </div>
    </nav>
    <section class="hero is-primary has-text-centered">
        <div class="hero-body">
            <p class="title">Product Page</p>
        </div>
    </section>
    <main class="has-text-centered">
        <h1 class="title is-1">Product Page</h1>
    </main>
</body>
</html>